.container {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    border: 4px solid white;
   background-color: white;
   border-radius: 3.25rem 0rem;
   padding: 32px 32px 40px;
  }
button{
    background-color: rgb(8, 62, 158);
    color: white;
    border-radius: 3.25rem 0rem;
    margin-left: 30%;
    text-transform: uppercase;
    font-size: .875rem;
    text-align: center;
    padding: 20px 40px 16px;
    box-sizing: inherit;
   
    
}
input{
    background-color:#d1d9e0;
    width: 98%;
    padding: 12px 8px 12px 12px;
    margin: 8px;
    border: solid transparent;
    border-radius: 3.25rem 0rem;
    
}

.piggy{
   text-align: center;
}
h1{
    color: #083e9e;
    font-weight: 700;
    font-family: sans-serif;
}
label{
    font-size: .75rem;
    font-weight: 700;
    color: #4a5568;
}